

 /*background: transparent #2952a3*/
 /*color:#adaa5e;*/
 /*#f8e8b3*/

 @font-face{
  font-family: "Gordana";
  src: url('../fonts/corporate.otf') format('opentype');
 }

 body {padding-top:40px; padding-bottom: 30px; background: #000;
    font-family: "Gordana", serif;}


.masthead{margin-bottom: 12px;}
.masthead h1{color: #c3c188; letter-spacing: 5px}
.masthead p{ margin-bottom: 40px; color: #c3c188; letter-spacing: 5px}

.jumbotron {
  font-family: Roboto;
  text-align: left !important;
  border-radius: 0 !important;
  padding: 30px; text-align: center;;
  background-color: #000; /* Old browsers */
  background2image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #1f3d7a 30%,  #4775d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
}


.jumbotron h1{margin-bottom: 30px;font-family: 'Dancing Script', cursive;
  font-size: 32px; letter-spacing: 0.5px; color: #ccca99; filter: grayscale(50%);}
.jumbotron p {color: #ccca99; filter: grayscale(30%); font-size: 16px;}
.jumbotron .btn {padding: 14px 24px; font-size: 21px;}

.flexslider{margin: 30px; border: 12px groove  #daa520;  filter: grayscale(70%);  }
.flex-viewport{background: #606060;; filter: /*grayscale(30%);*/}
.flex-viewport ul.slides li {margin-right: 3px !important;}

.nav-justified {
  background-color: #000;
  border: none;
  border-radius: 5px;
  /*border-right: none;*/
  /*border-left: none;*/
}
.nav-justified > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  /* letter-spacing: 1px; */
  color: #cdcb98;
  text-align: center;
  margin-left: 10px;
  background-color: #000; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom,#0a1429 50%,#0f1f3d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border: 1px solid #444;
}
.nav-justified a.active,
.nav-justified a.active:hover,
.nav-justified a.active:focus {
  box-shadow: inset 0px 0px 15px #cdcb98;
}
.nav-justified a:hover{
  background: #cdcb98 !important;
  color: #444;
}


@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    /* border-right: 1px solid #d5d5d5; */
    /* border-left: 1px solid #fff; */
  }
  .nav-justified > li:first-child > a {
    border-left: 1px solid #444;;
    border-radius: 0;
    margin-left: 0;
  }
  .nav-justified > li:last-child > a {
    border-bottom: 1px solid #444;
    border-right: 1px solid #444;
    border-radius: 0;
  }
}

/*.introduction h2{color:#888544; font-family: Gabriela; font-size: 24px}*/

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.ribbon {
  position: absolute;
  left: 10px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-family: Libre Franklin;
  font-size: 10px;
  font-weight: bold;
  color: #811818;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#666433 0%, #C3C188 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #C3C188;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #C3C188;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #C3C188;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #C3C188;
}

img.lb-image{width: 600px!important; height:400px!important;}

.car__gallery img:hover{
  opacity: 0.5;
}

/*Contact page*/
div.jumbotron.contact {padding-top: 20px;}
div.jumbotron.contact #contact__column {padding-right: 30px;}
div.jumbotron.contact #map__column {padding-left: 30px;}
/*div.jumbotron.contact h1{color: #cccccc;}*/
div.jumbotron.contact h1.info span{font-size: 20px}
div.jumbotron.contact .contact__box{ margin-bottom: 30px; padding: 5px}
div.jumbotron.contact .contact__box.left{background: #dddcbb;}
div.jumbotron.contact .contact__box.right{background: #a6a6a6; border-left: 1px solid #bbb}
div.jumbotron.contact .contact__box p{margin-bottom: 0; font-size: 13px; color: #444}
div.jumbotron.contact form#contactForm {font-family: Libre Franklin}
div.jumbotron.contact form#contactForm input,
div.jumbotron.contact form#contactForm textarea{border-radius:0 !important; background: #f1f1f1; font-size: 13px;}
div.jumbotron.contact form#contactForm label {color: #cccccc; font-weight: normal; font-size: 13px; letter-spacing: 0.5}
div.jumbotron.contact form#contactForm button {
  border-radius:3px; font-size: 13px;padding: 8px 12px; background: #333;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0,0.2), inset 0px 1px 1px rgba(255,255,255,0.2);
  border-top: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.3);
background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
background-image: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
background-clip: padding-box;
}
div.jumbotron.contact form#contactForm button i {margin-right: 8px;}
div.jumbotron.contact img {
-webkit-box-shadow: 5px 5px 10px 0px rgba(204,204,204,0.4);
-moz-box-shadow: 5px 5px 10px 0px rgba(204,204,204,0.4);
box-shadow: 5px 5px 10px 0px rgba(204,204,204,0.4);
filter: grayscale(30%);}
div.jumbotron.contact #map{width: 100%; height: 198px; background-color: grey; margin-top: 28px;}
div.jumbotron.contact .alert-success{background: #c2e2b6; border: 1px solid #a4d491;}


/* About page */
div.jumbotron.about h1{font-size: 32px; letter-spacing: 0.5px;}
div.jumbotron.about p{font-size: 16px; line-height: 1.5;}

/* Cars available */
div.jumbotron.cars h1{margin-bottom: 10px;}
div.jumbotron.cars p.info{margin-bottom: 30px; font-size: 16px}

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
